MSN Messenger Service 1.0 Protocol.txt
Yahoo Messenger Protocol v9.txt
*.o
*.ppt
*.doc
*.jpeg
*.db
*.bak
*.swp
*.rar
*.zip
*.tar
gchat_client/test/
gchat_client/autom4te.cache/

gchat_server/adduser
gchat_server/gchat_server

